<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "gzim.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Gzim Iseni</h1>
    <p>Welcome to my web app page.</p>
    <p>This page I built a blog in Rails 6. You're actually on the demo application right now. Cool stuff, right!.</p>
    <p>If ypu'd like to follow along as I learn more Ruby on Rails, find me on Linked in <a href="https://www.linkedin.com/in/gzim-iseni/">@gzimiseni</a>
    or on the facebook at <a href="https://www.facebook.com/gzim.iseni95">Gzim Iseni</a>.</p>
  </div>
</div>